<!--
Copyright 2020 Google LLC.

This work is licensed under the Creative Commons Attribution 4.0
International License. To view a copy of this license, visit
http://creativecommons.org/licenses/by/4.0/ or send a letter
to Creative Commons, PO Box 1866, Mountain View, CA 94042, USA.
-->
<model>
  <name>Pepsi_Caffeine_Free_Diet_12_CT</name>
  <author>
    <name>Google</name>
    <email>scanned-objects@google.com</email>
  </author>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <description>Pepsi Caffeine Free Diet - 12 CT
0 calories per can.  Sugar free.  Very low sodium, 35 mg or less per 8 fl oz (240 ml).  Please recycle.</description>
</model>
